* {
	box-sizing: border-box;
}

body {
	
	background-image: url('../images/stone-background.jpg'); 
	font-family: 'Cinzel', serif;
	color: #ffffff;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel Decorative', cursive;
	color: #ffffff;
	font-size: 24px;
	line-height: 36px;
} 

div {
	margin-bottom: 25px;
}

.margintpbtm20 {
	padding: 50px
	margin-top: 20px
	margin-bottom: 40px;
} 

.container {
	width: 1000px;
	margin: 50px auto;
	display: flex;
	justify-content: space-around;  
} 

.header {
	width: 1000px;
	margin: 0 auto;
	position: relative;
} 

.header img {
	width: 900px;
	margin: 0 auto;
}

.hmtext {
	position: absolute;
	bottom: 0;
	right: 115px;
	
}

.hmtext h1 {
	font-family: 'Metamorphous', cursive;
	color: #C0C0C0;
	font-size: 40px;
}

.lftsection {
	width: 450px;
	margin: 0 auto;
}

.rtsection {
	width: 450px;
	margin: 0 auto;
}

.gameStateTxt {
	padding-bottom: 15px;
} 

.gameStateTxt h2 {
	font-family: 'Metamorphous', cursive;
	font-size: 28px;
	color: #1C86EE;
}